{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="count">
       Total d'éléments : {{ articles.getTotalItemCount }}
    </div>
    <div class="container mt-4">
        <div class="row">
            {% for article in articles %}
                {% include 'partials/_articles_cards.html.twig' %}
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(articles) }}
        </div>
    </div>
{% endblock %}
