<div class="col-lg-4">
    <div class="card" style="width: 18rem;">
        <img src="{{ 'articles/'~article.image }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            {% for authors in article.author %}
                <a href="" class="btn btn-sm btn-warning">
                    {{ authors.username }}
                </a>
            {% endfor %}
            <a href="{{ path('app_home_articles_detail', {id:article.id}) }}" class="btn btn-primary">Voir les détails</a>
        </div>
    </div>
</div>
